/* <<<< BASIC SETTINGS >>>>> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative; 
  max-width: 1400px;
  min-width: 700px;
  color: #555;
}

/* <<<< NAVIGATION HEADER SECTION >>>>> */

 /* grid-areas */
 .logo-area {
    margin-left: 30px;
    text-align: center;
}

.nav-articles-area {
    text-align: center;
}

.nav-books-area {
    text-align: center;
}

.nav-events-area {
    text-align: center;
}

.nav-jobs-area {
    text-align: center;
}

.nav-membership-area {
    text-align: center;
}

.header-btn-area {
    text-align: center;
}

.nav-header {
    height: 160px;
    width: 100%;
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
    grid-column-gap: 10px;
    border: 2px solid grey;
}

.btn-topics-header {
    width: 60%;
    border-radius: 5px;
    padding: 13px;
    border: 1px solid lightslategray;
    font-size: 20px;
}

/* <<<< LATEST ARTICLES SECTION >>>>> */

.latest-articles-center-text {
  position: relative;
  height: 0;
  top: 50px;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.latest-articles-center-text span {
  background-color: white;
  border: 2px solid gray;
}

.latest-articles-center-text span:last-child{
  border-top: none;
} 

.latest-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 950px;
}

.featured-article {
  border: 1px solid gray;
}

.featured-article h1 {
  width: 80%;
  font-size: 45px;
  font-family: 'Ubuntu', sans-serif;
  margin: 100px auto;
}